// Fonts.
@font-face {
  font-family: 'HelveticaNeue';
  src: local('Helvetica Neue'),
    local('HelveticaNeue'),
    url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('Helvetica Neue'),
    local('HelveticaNeue'),
    url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: local('Helvetica Neue'),
    local('HelveticaNeue'),
    url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
    url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

$helvetica: HelveticaNeue, 'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, sans-serif;